h1, h2, h3, h4, h5, h6, .uk-heading-medium {
  font-family: 'Faustina', serif;
  font-weight: 500;
  color: #2f333a; }

p {
  font-family: 'Lato', sans-serif;
  color: #425271; }
  p span {
    font-weight: 700;
    color: #f0506e; }

.logo {
  padding-top: 15px; }

.dark-section {
  padding-left: 15px;
  padding-right: 15px;
  background: black;
  padding-top: 40px;
  padding-bottom: 40px; }
  .dark-section h2, .dark-section p {
    color: white; }

.img-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.uk-comment-primary {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px; }

.round {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url("/app/img/header.jpg") no-repeat 0px -20px;
  background-size: auto 200px;
  margin-bottom: 20px; }

.main-footer {
  background: #2f333a;
  padding-top: 40px;
  padding-bottom: 40px; }
  .main-footer p {
    color: #666666; }
